* {
    box-sizing: border-box;
}
#alex{
    background-color:pink;
    color: white;
}
body{
    background-color:rgb(114, 107, 89);

}
#p1{
    color: yellow;
}
.p2{
    color:chartreuse;
}
.p3{
    color:aquamarine;
}
.border1{
    background-color:white;
    height:100px;
    border:goldenrod 5px solid;
}
.footer{
    color:aliceblue;
}